<!DOCTYPE html>
<html lang="en" ng-app="main">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Markdown hosting">
    <meta name="author" content="Ondrej Sika, http://ondrejsika.com">

    <title>Markdown Hosting</title>

    <script type="text/javascript" src="/static/src/angular-1.1.5.min.js"></script>
    <script type="text/javascript" src="/static/src/coffee/init.js"></script>
    <script type="text/javascript" src="/static/src/coffee/actions.js"></script>
    <script type="text/javascript" src="/static/src/coffee/page_controller.js"></script>
    <script type="text/javascript" src="/static/src/coffee/user_controller.js"></script>
    <script type="text/javascript" src="/static/src/coffee/project_controller.js"></script>
    <script type="text/javascript" src="/static/src/coffee/head_controller.js"></script>
    <script type="text/javascript" src="/static/src/coffee/router.js"></script>
    <script type="text/javascript" src="/static/src/markdown.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>

  <body>
    <!-- Static navbar -->
    <div ng-hide="routeParams.pageOption=='raw'" class="navbar navbar-default navbar-static-top" ng-controller="HeadController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Markdown Hosting</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li ng-show="routeParams.user"><a href="#/{{routeParams.user}}/">{{routeParams.user}}</a></li>
            <li ng-show="routeParams.project"><span class="menudivider">/</span></li>
            <li ng-show="routeParams.project"><a href="#/{{routeParams.user}}/{{routeParams.project}}/">{{routeParams.project}}</a></li>
            <li ng-show="routeParams.page"><span class="menudivider">/</span></li>
            <li ng-show="routeParams.page"><a href="#/{{routeParams.user}}/{{routeParams.project}}/{{routeParams.page}}/">{{routeParams.page}}</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
        <div ng-view></div>
        <div id="footer">
            <hr>
            <p>2013 <a href="#/about">Markdown Hosting</a>, created by <a href="http://ondrejsika.com">Ondrej Sika</a></p>
        </div>
    </div> <!-- /container -->
    <script type="text/javascript" src="/static/src/jquery.js"></script>
    <script type="text/javascript" src="/static/src/bootstrap.js"></script>
  </body>
</html>
