hr {
    margin: 3px 0;
}
p {
    margin: 0;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.menudivider {
    position: relative;
    display: block;
    padding: 15px 0;
}

#footer {
    margin-top: 80px;
    margin-bottom: 20px;
}

#footer p{
    opacity: 0.7;
}