<h1>{{routeParams.project}}</h1>
<table class="table">
    <tr ng-repeat="file in project_data.files">
        <td><a href="#/{{routeParams.user}}/{{routeParams.project}}/{{file}}">{{file}}</a></td>
    </tr>
</table>